<div class="container">
  <div class="row">
    <h1>Active alarms</h1>
    <div class="col-sm-4" id="alarmFrame" *ngFor="let alarm of alarms" (click)="setEditAlarm(alarm)">
      <div class="col-sm-6">
	<h2>{{alarm.waketime}}</h2>
      </div>
      <div class="col-sm-6">
      <div class="row-sm-3">
	{{alarm.active}}
      </div>
      <div class="row-sm-3">
	{{alarm.duration}}
      </div>
      <div class="row-sm-3">
	{{alarm.color}}
      </div>
      </div>
    </div><br>
    <div class="col-sm-4">
      <h1>Temperature</h1>
      {{ tempLabel }}
    </div><br>
    <div class="col-sm-4">
      <h1>Light</h1>
      {{ lightLabel }}
    </div>
  </div>
</div>


