<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="addAlarm">
<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Add alarm
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
	<p><input type="checkbox" placeholder="Active" [(ngModel)]="this.newAlarm.active" [ngModelOptions]="{standalone: true}" value="">Active</p>
	<p>Waketime<ngb-timepicker [(ngModel)]="waketime" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
	<p>Waking duration<ngb-timepicker [(ngModel)]="durationtime" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
	<p>Select animation 
        <select (change)="selectChangeHandler($event)">
          <option value="brightness">Brightness</option>
          <option value="iterate">Iterate</option>
          <option value="rainbow">Rainbow</option>
        </select>
        <p><button class="btn btn-default" (click)="insertAlarm()">Submit</button></p>
    </div>
  </div>
</div>
</div>

<div class="row-sm-1">
        <div id="alarmFrame" class="col-sm-3" *ngFor="let alarm of alarms" (click)="setEditAlarm(alarm)">
	  <div class="col-sm-6">
            <div id="time" class="row-sm-1">
              <h1>  {{alarm.waketime}}</h1>
            </div>
	  </div>
	  <div class="col-sm-6">
            <div class="row-sm-3">
                {{alarm.active}}
            </div>
            <div class="row-sm-3">
                {{alarm.duration}}
            </div>
            <div class="row-sm-3">
                {{alarm.color}}
            </div>
            <div class="row-sm-3">
                <button class="btn btn-default" (click)="deleteAlarm(alarm)">Delete</button>
            </div>
	  </div>
        </div>
<div>

