div.card-body{
    position: relative;
    left: 20px;
}
div.addAlarm{
    position: relative;
    left: 20px;
}
#alarmFrame{
    border:1px solid black;
}
#time{
  padding-top: 30px;
  padding-bottom: 30px;
}
